<h1>{{ question.question_text }}</h1>

{% if error_message %}
<strong>{{ error_message }}</strong>
{% endif %}

<!-- <ul>
    {% for choice in question.choice_set.all %}
    <li>{{choice.choice_set}}</li>
    {% endfor %}
</ul> -->

<form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label>
    {% endfor %}
    <input type="submit" value="Vote" />
</form>